<div class="container px-5 px-sm-0">
  <% if @book %>
    <%= render "layouts/error_messages", error: @book %>
  <% end %>
  <div class="row">
    <div class="col-md-3">
      <%= render "users/user_info", user: @user %>
      <%= render "new_book", new_book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <%= render "index", books: @books %>
      </table>
    </div>
  </div>
</div>
