<div class="post-body">
  <%= attachment_image_tag @book, :book %>
  
  <p>ショップ名：<%= @book.title %></p>
  <p>説明：<%= @book.body %></p>
  <% if @book.user == current_user %>
    <%= link_to "削除", book_path(@book), method: :delete %>
  <% end %>
</div>